{% extends 'base.html' %}

{% block title %}Welcome to FoodOpedia{% endblock %}

{% block start %}
    <h1 class="text-center">Welcome to <span class="text-primary">FoodOpedia</span></h1>
    <p>
        FoodOpedia is your go-to platform for discovering delicious and easy-to-make recipes! Whether you're a seasoned chef or just starting your culinary journey, our platform offers a variety of recipes for every occasion.
    </p>
    <p>
        From appetizers to main courses and desserts, you'll find something to excite your taste buds. Each recipe is carefully crafted with step-by-step instructions, making cooking a fun and rewarding experience.
    </p>
    <p class="text-center">
        Join the FoodOpedia community today, and let's start cooking some amazing meals together!
    </p>
{% endblock %}
